@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Montserrat&display=swap');
/* Inknut Antiqua & Montserrat */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #000000;
    background: rgba(29, 29, 27, 0.9);
}

/* header, navbar */

h2 {
    font-family: 'Inknut Antiqua', sans-serif;
    margin-top: -100px;
    margin-bottom: 50px;
    font-size: 1.7em;
    color: #FFD700;
}

nav {
    margin-top: 4em;
}

.navbar {
    letter-spacing: 1.5px;
    font-size: 1.25em;
    text-align: center;
    color: #000000;
}

.navbar li {
    display: inline;
    list-style-type: none;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin: 10px;
    border: 3px ridge #000000;
    background: #FFD700;
    padding: 5px;
}

.navbar a:hover {
    color: #00008B;
}

/* image css */
#hero-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* game area and buttons */
.game-box {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 6em;
}

.flex.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.game-btn {
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background: #FFD700;
    margin: 1em;
    padding: 5px;
    border: 3px ridge #000000;
    border-radius: 5px;
    letter-spacing: 1.5px;
}

.game-box a:hover {
    color: #00008B;
}

.active,
a:hover {
    text-decoration: underline;
}

#play-btn {}

#score-btn {}

/* About Page */

.about {
    background: #FFD700;
    height: 350px;
    max-width: 100%;
    width: 500px;
    border: 3px ridge #000000;
    margin: 5em auto;
    overflow: auto;
    text-align: center;
}

.about ul {
    padding: 10px;
}

/* Fixed footer with help from W3schools */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

footer p {
    padding-right: 50px;
    padding-bottom: 25px;
    color: #FFD700;
}
