@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Montserrat&display=swap');
/* Inknut Antiqua & Montserrat */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #FFD700;
    background: rgba(29, 29, 27, 0.9);
}

#hero-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

h2 {
    font-family: 'Inknut Antiqua', sans-serif;
}


.game-box {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}