@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Inknut Antiqua & Montserrat */

body {
    background: rgba(29, 29, 27, 1);
}

#hero-image {
   display: block;
   margin: 0 auto;
   max-width: 100%;
   height: auto;
}